{% extends 'hospital_base.html' %}
{% block content %}
<!--<h3>TEACHER/SUBJECTS</h3>-->

<div class="container">
  <h2>Donors Registered</h2>
  <table class="table table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th>Donor Name</th>
        <th>Aadhar Number</th>
        <th>Blood Group</th>
        <th> </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      {% for donor in donors %}
        <tr>
          <td>{{donor.name}}</td>
          <td>{{donor.aadhar_no}}</td>
          <td>{{donor.blood_group}}</td>
{#          <td><a class="btn btn-xs btn-warning" href="/edit_donor?id={{subject.pk}}">Edit</a></td>#}
          <td><a class="btn btn-xs btn-danger" href="/delete_donor?id={{patient.pk}}">Delete</a></td>
        </tr>

      {% endfor %}
    </tbody>
  </table>
</div>
<div style="margin-left:5%">
  <a class="btn btn-info" href="/new_donor">New Registration</a>
</div>

{% endblock %}

<!--{% block myblock %}


{% endblock %}-->