 {%  extends 'hospital_base.html' %}
{% block content %}
    <br>
    <div align="center"> <h3 style="margin: 10px;"> Post a notification</h3></div>
    <br>

 <form class="form-horizontal" method="POST">
        {% csrf_token %}

            <div class="form-group">
              <div class="col-xs-3" ></div>
               <label class="col-xs-2 control-label" for="user"> Select Donor or Patient to Notify: </label>
              <div class="col-xs-3">
                  <select id="user" name="user" class="form-control input-md">
                      {% for patient in patients %}
                          <option value="{{ patient.user.pk }}">{{ patient.user.username }}</option>
                      {% endfor %}
                  </select>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-3" ></div>
               <label class="col-xs-2 control-label" for="title"> Enter Title: </label>
              <div class="col-xs-3">
                  <input id="title" name="title" class="form-control input-md">
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-3" ></div>
               <label class="col-xs-2 control-label" for="title"> Enter Content: </label>
              <div class="col-xs-3">
                  <textarea id="content" name="content" class="form-control input-md">
                      </textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-4" ></div>
               <label class="col-xs-1 control-label" for="blood_group">  </label>
              <div class="col-xs-3">
                  <button class="btn btn-success">Post Notification</button>
              </div>
            </div>


    </form>
 {% endblock %}