{%  extends 'hospital_base.html' %}
{% block content %}
<table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Needed Organ</th>
        <th>Blood group</th>
        <th>Patient Name</th>
          <th>Patient Username</th>
      </tr>
    </thead>
    <tbody>
    {% for organ in organs %}
      <tr>
        <td>{{ organ.type }}</td>
        <td>{{ organ.blood_group }}</td>
        <td>{{ organ.patient.name }} </td>
          <td>{{ organ.patient.user.username  }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
    
{% endblock %}