{%  extends 'hospital_base.html' %}
{% block content %}

    <br>
    <div align="center"> <h3 style="margin: 10px;"> Transplant History</h3></div>
    <br>
<table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Organ</th>
        <th>Blood group</th>
        <th>Donor Name</th>
          <th>Patient Name</th>
      </tr>
    </thead>
    <tbody>
    {% for organ in organs %}
      <tr>
        <td>{{ organ.type }}</td>
        <td>{{ organ.blood_group }}</td>
        <td>{{ organ.to.name }} </td>
          <td>{{ organ.frm.name  }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}